/* 基础重置 */
html {
	font-family: sans-serif; */
	-ms-text-size-adjust: 100%; /* 自动调整 */
	-webkit-text-size-adjust: 100%; 
}
/* 删除默认边距 */
body { margin: 0; }
a { background: transparent; } /* 删除 IE10 活动链接灰色背景 */
img { border: 0; } /* IE 8/9/10 在 a 中的边框删除 */
/* 颜色字体集成, 删除默认外边距 */
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
/* Address `overflow` set to `hidden` in IE 8/9/10/11.*/
button { overflow: visible; }
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select { text-transform: none; }
/* 正确的渲染, 鼠标样式 */
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
/* firefox 盒子渲染, IE 8/9/10 去除多余的填充 */
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
textarea { overflow: auto; } /* 删除默认溢出 在 IE 8/9/10/11 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th { padding: 0; }
/*==============================================================*/
* { box-sizing: border-box;}
/* 清理浮动 */
.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fn-clear { zoom: 1; }/* for IE6 IE7 */
body .fn-hide { display:none; } /* 隐藏, 通常用来与 JS 配合 */
.fn-left, .fn-right { display: inline; } /* 设置内联, 减少浮动带来的bug */
.fn-left { float: left; }
.fn-right { float: right; }
.fn-cspal * { margin-left: -4px; } /* 14px下空格空隙 */
.fn-cspal>:first-child { margin-left: auto; }
.fn-tece { text-align: center; }
.fn-nsel {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fn-fonthid {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
body {
	background-color: #fff;
	font: 12px/1 \5fae\8f6f\96c5\9ed1, tahoma, arial,"Hiragino Sans GB", \5b8b\4f53; 
}
a { text-decoration: none; }
div { /* outline: 1px solid orange; */ }
html, body { height: 100%; }