<div class="dialog-header">
  我的数据库
  <span class="icon-bar">
    <i class="icon remove"></i>
  </span>
</div>
<div class="dialog-content" style="padding-bottom:0;">
  <table class="table-grid"><tbody>
    <tr><td class="table-top" colspan="2" style="padding-top:10px;"></td></tr>
    <tr><td colspan="2" style="padding:0 0 0 20px;">
      <button class="min lit">新建文件夹</button>
    </td></tr>
    <tr><td colspan="2" style="padding:0;">
      <div class="highlight" style="height:337px;width:420px;">
        <scrollbar>
          1
        </scrollbar>
      </div>
    </td></tr>
  </tbody></table>
</div>

