<div class="analysis-dialog">
	<div class="dialog-inner">
		<div class="dialog-header">
		 时间聚合
		  <span class="icon-bar">
		    <i class="icon remove" ng-click="close()"></i>
		  </span>
		</div>

		<div class="dialog-content" style="padding-bottom:0;">
		  <table style="width: 100%;">
			  <tbody>
			    <tr>
			      <th class="tableLeft">频度：</th>
			      <td>
			        <div class="aggregation-input">
				        <div class="nowYbl" ng-click="show_frequent()">{{frequentName}}<em class="ico-down"></em></div>
				        <ul>
				        	<li ng-repeat="li in frequentList" value="{{li.value}}" ng-click="select_frequent(li.value,li.name)">{{li.name}}</li>
				        </ul>
			        </div>
			      </td>
			    </tr>
			  </tbody>
		  </table>
		</div>

		<div class="dialog-bottom">
		  <button class="tiny cancel" ng-click="close();">取消</button>
		  <button class="small confirm"
		    ng-class="{'disabled':frequent==''}"
		    ng-click="aggregationGo()">确定</button>
		</div>
	</div>
</div>