<div class="analysis-dialog">
	<div class="dialog-inner">
		<div class="dialog-header">
		偏相关分析
		  <span class="icon-bar">
		    <i class="icon remove" ng-click="close()"></i>
		  </span>
		</div>

		<div class="dialog-content returnback partial" style="padding-bottom:0;">
		  <table style="width: 100%;">
			  <tbody>
			      <tr>
			        <th class="tableLeft">变量1：</th>
			        <td>
			          <div class="bl bl1">
			          	<div class="nowYbl" ng-click="showList('.bl1',event)">{{selectRecord.normalvarsName1}}<em class="ico-down"></em></div>
			          	<ul>
			          		<li ng-repeat="normalvars in data.variables" ng-click="selectNormalvars(normalvars.index,normalvars.name)">{{normalvars.name}}</li>
			          	</ul>
			          </div>
			        </td>
			      </tr>
			      <tr>
			        <th class="tableLeft">变量2：</th>
			        <td>
			          <div class="bl bl2">
			          	<div class="nowYbl" ng-click="showList('.bl2',event)">{{selectRecord.normalvarsName2}}<em class="ico-down"></em></div>
			          	<ul>
			          		<li ng-repeat="normalvars in data.variables" ng-click="selectNormalvars2(normalvars.index,normalvars.name)">{{normalvars.name}}</li>
			          	</ul>
			          </div>
			        </td>
			      </tr>
			      <tr class="attention">
			        <th class="tableLeft">控制变量：</th>
			        <td>
			          <div class="zbl">
			          	 <label class="checkbox" ng-repeat="ctrlvars in data.variables" ng-class="{'on': selectRecord.ctrlvars.indexOf(ctrlvars.index)!==-1 }" ng-click="selectCtrlvars(ctrlvars.index)">{{ctrlvars.name}}</label>
			          </div>
			        </td>
			      </tr>
			      <tr class="attention">
			      	<td colspan="2">
			      		<p>显著性检验：
			      			<span class="radio" ng-class="{'on':selectRecord.sign==2}" ng-click="selectRecord.sign=2">双侧</span>
					      	<span class="radio" ng-class="{'on':selectRecord.sign==1}" ng-click="selectRecord.sign=1">单侧</span>
			      		</p>
			      	</td>
			      </tr>
			    </tbody>
		    </table>
		</div>

		<div class="dialog-bottom">
		  <button class="tiny cancel" ng-click="close();">取消</button>
		  <button class="small confirm"
		    ng-class="{'disabled':startButton() == 0}"
		    ng-click="partialGo()">确定</button>
		</div>
	</div>
</div>