<div class="toolbar">
<!--   <span class="tool-btn">
  <div class="icon-container"><i class="icon icon-file"></i></div>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-refresh"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-down"></i></span>
</span>
<span class="tool-cut">&nbsp;</span>
<div class="tool-group">
  <span class="tool-btn">
    <span class="font-container" style="width:72px;">宋体</span>
  </span><span class="tool-btn tool-more">
    <span class="icon-container" style="line-height:10px;">
      <i class="icon icon-small-arrow"></i>
    </span>
  </span>
</div>
<span class="tool-cut">&nbsp;</span>
<div class="tool-group">
  <span class="tool-btn tool-more">
    <span class="font-container">12</span>
  </span><span class="tool-btn tool-more">
    <span class="icon-container">
      <i class="icon icon-small-arrow"></i>
    </span>
  </span>
</div>
<span class="tool-cut">&nbsp;</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-blod"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-italics"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-strikethrough"></i></span>
</span>
<div class="tool-group">
  <span class="tool-btn">
    <span class="icon-container">
      <i class="icon icon-color"></i>
      <span class="icon-swy"></span>
    </span>
  </span><span class="tool-btn tool-more">
    <span class="icon-container">
      <i class="icon icon-small-arrow"></i>
    </span>
  </span>
</div>
<span class="tool-cut">&nbsp;</span>
<div class="tool-group">
  <span class="tool-btn">
    <span class="icon-container"><i class="icon icon-left"></i></span>
  </span><span class="tool-btn tool-more">
    <span class="icon-container">
      <i class="icon icon-small-arrow"></i>
    </span>
  </span>
</div>
<div class="tool-group">
  <span class="tool-btn">
    <span class="icon-container">
      <i class="icon icon-background"></i>
      <span class="icon-swy2"></span>
    </span>
  </span><span class="tool-btn tool-more">
    <span class="icon-container">
      <i class="icon icon-small-arrow"></i>
    </span>
  </span>
</div>
<span class="tool-cut">&nbsp;</span>
<span class="tool-btn">
  <span class="icon-container" style="width:23px;">
    <i class="icon icon-filter"></i><i class="icon icon-small-arrow" style="margin-left:2px;vertical-align:middle;"></i>
  </span>
</span>
<span class="tool-cut">&nbsp;</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-broken"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-column"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-pie"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-curve"></i></span>
</span>
<span class="tool-cut">&nbsp;</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-e"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-percent"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-carry"></i></span>
</span>
<span class="tool-btn">
  <span class="icon-container"><i class="icon icon-less"></i></span>
</span>
<div class="tool-group">
  <span class="tool-btn">
    <span class="icon-container"><i class="icon icon-format"></i></span>
  </span><span class="tool-btn tool-more">
    <span class="icon-container">
      <i class="icon icon-small-arrow"></i>
    </span>
  </span>
</div> -->
</div>