.container{width:100%;height:auto;}
.container_mid{width:998px;height:auto;margin:auto;}
.container_mid .container_logo{width:100%;height:78px;}
.container_mid .container_top{width:978px;height:30px;background:#409cf8;padding-left:20px;border:1px solid #cccccc;color:white;line-height:30px;}
.container_mid .content{width:998px;height:auto;border:1px solid #cccccc;border-top:none;border-radius:0 0 10px 10px;overflow:hidden;background:white;}
.container_mid .content .left_list{float:left;width:177px;min-height:610px;border-right:1px solid #cccccc;background:#fff;padding:30px 11px 20px 11px;}
.container_mid .content .left_list .close{cursor:pointer;width:166px;height:28px;background:#bdc0c2;margin-bottom:5px;display:block;line-height:28px;font-size:14px;color:white;padding-left:12px;position:relative;}
.container_mid .content .left_list .close img{position:absolute;right:15px;top:9px;}
.container_mid .content .left_list .close::selection{background:none;}
.container_mid .content .left_list .close::-moz-selection{background:none;}
.container_mid .content .left_list .list_list{font-size:14px;padding:10px 0 10px 0px;display:none;}
.container_mid .content .left_list .list_list>li>a{display:block;color:#404040;font-weight:bold;height:22px;line-height:22px;margin-bottom:5px;padding-left:15px;cursor:pointer;}
.container_mid .content .left_list .list_list>li a::selection{background:none;}
.container_mid .content .left_list .list_list>li a::-moz-selection{background:none;}
.container_mid .content .left_list .list_list>li>a:hover{background:#cccccc;}
.container_mid .content .left_list .list_list .on1{background:#cccccc;}
.container_mid .content .left_list .list_list .on2{background:#eeeeee;}
.container_mid .content .left_list .list_list>li ul{font-size:14px;padding:0 0 5px 0px;}
.container_mid .content .left_list .list_list>li ul li a{display:block;font-size:14px;color:#585858;padding-left:25px;height:18px;line-height:18px;margin-bottom:2px;cursor:pointer;}
.container_mid .content .left_list .list_list>li ul li a:hover{background:#eeeeee;}
.container_mid .content .main_content{float:left;width:798px;min-height:660px;background:white;border-left:1px solid #cccccc;margin-left:-1px;}
.container_mid .content .main_content .main_header{width:717px;margin:auto;height:88px;border-bottom:1px solid #cccccc;}
.container_mid .content .main_content .main_header h2{color:#5d5d5d;font-size:26px;float:left;margin-top:40px;font-weight:normal;padding-left:10px;width:300px;}
.container_mid .content .main_content .main_header .search_box{width:253px;height:25px;border:1px solid #409cf8;float:right;margin-top:18px;}
.container_mid .content .main_content .main_header .search_box input{width:220px;height:12px;border:none;font-size:12px;padding:5px 0 5px 5px;}
.container_mid .content .main_content .main_header .search_hot{font-size:12px;text-align:center;color:#585858;display:block;float:right;margin-top:5px;margin-right:5px;}
.container_mid .content .main_content .main_header .search_hot a{color:#409cf8;margin-left:7px;}
.container_mid .content .main_content .text_help{width:717px;margin:auto;}
