<accordion data="ccvm.condition.order">
  <div ui-sortable="ccvm.accSortableOptions" ng-model="ccvm.condition.order" style="height:100%">
    <accordion-group
      ng-init="dim = ccvm.condition.dimensions[code]"
      selected="ccvm.upSelectedFn(dim.code)"
      attr-open="{{dim.code == ccvm.selectedDimCode}}"
      ng-repeat="code in ccvm.condition.order track by ccvm.byIndex(code)">
      <accordion-heading>
        {{dim.name}}
        <div class="icon-bar">
          <i class="icon-btn"
             ng-class="{'row':'icon-col', 'col':'icon-row'}[ccvm.condition.direction[dim.code]]"
             ng-click="ccvm.toggleDirection($event, dim.code)" title="行列转置"></i>
        </div>
      </accordion-heading>

      <!-- {{dim}} 根据不同特性引入不同的页面(注意通用性, 任何维度都可以有特性展现方式) -->
      <!-- 注意: dim这个键对特性等控制器的影响 -->
      <!-- 注意: 以下控制器多都需要上下文dim的数据,耦合较高,可以想方法从服务获取 -->
      <div style="height:100%;padding-bottom:{{pb}}px;"
          ng-controller="BridgeCtrl" ng-init="pb=dim.feature.search?30:0;">

        <div ng-if="dim.feature.search"
          ng-include="'app/template/property/search.html'"></div>
        <scrollbar>
          <div ng-if="dim.feature.indicator"
            ng-include="'app/template/property/dimeitem.html'"></div>
          <div ng-if="dim.feature.indicator"
            ng-include="'app/template/property/addIndicatorBtn.html'"></div>
          <div ng-if="dim.feature.indicator"
            ng-include="'app/template/property/recommend.html'"></div>
          <div ng-if="dim.feature.tree"
            ng-include="'app/template/property/tree.html'"></div>
        </scrollbar>
      </div>

    </accordion-group>
  </div>
</accordion>